# Udacity Project 4 - Wrangle and Analyse "WeRateDogs" Twitter Page

# Introduction

# Wrangle and Analyse of the Data

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import json
import requests
import time

# Gather

In [2]:
archive = pd.read_csv('twitter_archive.csv')
archive.head(10)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None

In [3]:
archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [4]:
url = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
response = requests.get(url)

with open('image-predictions.tsv', 'wb') as file:
    file.write(response.content) 
image_predictions = pd.read_csv('image-predictions.tsv', sep ='\t')

In [5]:
image_predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [6]:
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [7]:
image_predictions.shape

(2075, 12)

**Unfortunately, I still cannot get my developer account. It has been pending for a week now and I have not received any news about it. I have contacted them halfway through and that did not fix the problem.**

import tweepy
from tweepy import OAuthHandler
import json
from timeit import default_timer as timer

# Query Twitter API for each tweet in the Twitter archive and save JSON in a text file
# These are hidden to comply with Twitter's API terms and conditions
consumer_key = 'HIDDEN'
consumer_secret = 'HIDDEN'
access_token = 'HIDDEN'
access_secret = 'HIDDEN'

auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True)

# NOTE TO STUDENT WITH MOBILE VERIFICATION ISSUES:
# df_1 is a DataFrame with the twitter_archive_enhanced.csv file. You may have to
# change line 17 to match the name of your DataFrame with twitter_archive_enhanced.csv
# NOTE TO REVIEWER: this student had mobile verification issues so the following
# Twitter API code was sent to this student from a Udacity instructor
# Tweet IDs for which to gather additional data via Twitter's API
tweet_ids = archive.tweet_id.values
len(tweet_ids)

# Query Twitter's API for JSON data for each tweet ID in the Twitter archive
count = 0
fails_dict = {}
start = timer()
# Save each tweet's returned JSON as a new line in a .txt file
with open('tweet_json.txt', 'w') as outfile:
    # This loop will likely take 20-30 minutes to run because of Twitter's rate limit
    for tweet_id in tweet_ids:
        count += 1
        print(str(count) + ": " + str(tweet_id))
        try:
            tweet = api.get_status(tweet_id, tweet_mode='extended')
            print("Success")
            json.dump(tweet._json, outfile)
            outfile.write('\n')
        except tweepy.TweepError as e:
            print("Fail")
            fails_dict[tweet_id] = e
            pass
end = timer()
print(end - start)
print(fails_dict)

In [8]:
# read tweet-json.txt and append each tweet to tweets list

tweets = []
for line in open('tweet_json.txt', 'r'):
     tweets.append(json.loads(line))

# print first element to see available info
print(tweets[0])

{'created_at': 'Tue Aug 01 16:23:56 +0000 2017', 'id': 892420643555336193, 'id_str': '892420643555336193', 'full_text': "This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU", 'truncated': False, 'display_text_range': [0, 85], 'entities': {'hashtags': [], 'symbols': [], 'user_mentions': [], 'urls': [], 'media': [{'id': 892420639486877696, 'id_str': '892420639486877696', 'indices': [86, 109], 'media_url': 'http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg', 'media_url_https': 'https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg', 'url': 'https://t.co/MgUWQ76dJU', 'display_url': 'pic.twitter.com/MgUWQ76dJU', 'expanded_url': 'https://twitter.com/dog_rates/status/892420643555336193/photo/1', 'type': 'photo', 'sizes': {'large': {'w': 540, 'h': 528, 'resize': 'fit'}, 'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'small': {'w': 540, 'h': 528, 'resize': 'fit'}, 'medium': {'w': 540, 'h': 528, 'resize': 'fit'}}}]}, 'extended_entities': {'media': [{'id': 892420639486877696, 'id_str': '892420639486877696', 'indices': [86, 109], 'media_url': 'http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg', 'media_url_https': 'https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg', 'url': 'https://t.co/MgUWQ76dJU', 'display_url': 'pic.twitter.com/MgUWQ76dJU', 'expanded_url': 'https://twitter.com/dog_rates/status/892420643555336193/photo/1', 'type': 'photo', 'sizes': {'large': {'w': 540, 'h': 528, 'resize': 'fit'}, 'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'small': {'w': 540, 'h': 528, 'resize': 'fit'}, 'medium': {'w': 540, 'h': 528, 'resize': 'fit'}}}]}, 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'in_reply_to_status_id': None, 'in_reply_to_status_id_str': None, 'in_reply_to_user_id': None, 'in_reply_to_user_id_str': None, 'in_reply_to_screen_name': None, 'user': {'id': 4196983835, 'id_str': '4196983835', 'name': 'WeRateDogsâ„¢ (author)', 'screen_name': 'dog_rates', 'location': 'DM YOUR DOGS, WE WILL RATE', 'description': '#1 Source for Professional Dog Ratings | STORE: @ShopWeRateDogs | IG, FB & SC: WeRateDogs MOBILE APP: @GoodDogsGame | Business: dogratingtwitter@gmail.com', 'url': 'https://t.co/N7sNNHAEXS', 'entities': {'url': {'urls': [{'url': 'https://t.co/N7sNNHAEXS', 'expanded_url': 'http://weratedogs.com', 'display_url': 'weratedogs.com', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 3200889, 'friends_count': 104, 'listed_count': 2784, 'created_at': 'Sun Nov 15 21:41:29 +0000 2015', 'favourites_count': 114031, 'utc_offset': None, 'time_zone': None, 'geo_enabled': True, 'verified': True, 'statuses_count': 5288, 'lang': 'en', 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': '000000', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/861415328504569856/R2xOOfwe_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/861415328504569856/R2xOOfwe_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1501129017', 'profile_link_color': 'F5ABB5', 'profile_sidebar_border_color': '000000', 'profile_sidebar_fill_color': '000000', 'profile_text_color': '000000', 'profile_use_background_image': False, 'has_extended_profile': True, 'default_profile': False, 'default_profile_image': False, 'following': True, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none'}, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'is_quote_status': False, 'retweet_count': 8853, 'favorite_count': 39467, 'favorited': False, 'retweeted': False, 'possibly_sensitive': False, 'possibly_sensitive_appealable': False, 'lang': 'en'}

In [9]:
#save wanted columns to a dataframe

tweet_list =[]
for element in tweets:
        tweet_id = element['id']
        favorites = element['favorite_count']
        retweets = element['retweet_count']
        followers = element['user']['followers_count']
        if element['retweeted'] == False:
            retweeted_status = "Original tweet"
        else:
            retweeted_status = "Retweet"
        
            
        tweet_list.append({'id': str(tweet_id),
                             'favorites': int(favorites),
                             'retweets': int(retweets),
                             'followers': int(followers),
                             'retweeted_status': retweeted_status,
                            })
        
        tweet_df = pd.DataFrame(tweet_list, columns = ['id', 'favorites','retweets',
                                                       'followers', 'retweeted_status'])

In [10]:
tweet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 5 columns):
id                  2354 non-null object
favorites           2354 non-null int64
retweets            2354 non-null int64
followers           2354 non-null int64
retweeted_status    2354 non-null object
dtypes: int64(3), object(2)
memory usage: 92.1+ KB

In [11]:
tweet_df.head()

                   id  favorites  retweets  followers retweeted_status
0  892420643555336193      39467      8853    3200889   Original tweet
1  892177421306343426      33819      6514    3200889   Original tweet
2  891815181378084864      25461      4328    3200889   Original tweet
3  891689557279858688      42908      8964    3200889   Original tweet
4  891327558926688256      41048      9774    3200889   Original tweet

# Access the Data

In [12]:
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [13]:
tweet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 5 columns):
id                  2354 non-null object
favorites           2354 non-null int64
retweets            2354 non-null int64
followers           2354 non-null int64
retweeted_status    2354 non-null object
dtypes: int64(3), object(2)
memory usage: 92.1+ KB

In [14]:
archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [15]:
archive.tail(10)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2346,666058600524156928,NaN,NaN,2015-11-16 01:01:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is the Rand Paul of retrievers folks! He'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666058600...,8,10,the,None,None,None,None
2347,666057090499244032,NaN,NaN,2015-11-16 00:55:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666057090...,9,10,a,None,None,None,None
2348,666055525042405380,NaN,NaN,2015-11-16 00:49:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666055525...,10,10,a,None,None,None,None
2349,666051853826850816,NaN,NaN,2015-11-16 00:35:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an odd dog. Hard on the outside but lo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666051853...,2,10,an,None,None,None,None
2350,666050758794694657,NaN,NaN,2015-11-16 00:30:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666050758...,10,10,a,None,None,None,None
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [16]:
image_predictions.head(10)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
5,666050758794694657,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,1,Bernese_mountain_dog,0.651137,True,English_springer,0.263788,True,Greater_Swiss_Mountain_dog,0.016199,True
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,0.045885,False,terrapin,0.017885,False
7,666055525042405380,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,1,chow,0.692517,True,Tibetan_mastiff,0.058279,True,fur_coat,0.054449,False
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,shopping_cart,0.962465,False,shopping_basket,0.014594,False,golden_retriever,0.007959,True
9,666058600524156928,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,1,miniature_poodle,0.201493,True,komondor,0.192305,True,soft-coated_wheaten_terrier,0.082086,True

In [17]:
print(archive.duplicated().sum())
print(tweet_df.duplicated().sum())
print(image_predictions.duplicated().sum())
print(image_predictions.jpg_url.duplicated().sum()) # repeated images

0
0
0
66

**Issues**

Quality:

- 1) Retweets are messing with the data (should be removed)
- 2) Some of the columns do not have enough data,  thus it would be for better to remove them completely.
- 3) Remove the duplicated in the 'image_predictions' file 
- 4) Timestamp is classified as an 'object' instead of 'datetime'
- 5) In archive, the Source column needs work as it is hard to understand the data 
- 6) The 'stage' of the dog (puppo, pupper, floffer, doggo) can be modified
- 7) Image_predictions has a column p1 that has '_' inbetween word. Can be removed
- 8) In archive, some of the dog names are 'None' or written with mistake (a, the, 0, etc)

Tidiness: 
- 9) Make all tweet_id equal to each other so that the data is more stable 
- 10) Combine the data sets
- 11) Clean the combined data sets

# Cleaning the Data Sets

**Because I experienced some of my data being deleted before (when I was doing the project for the first time), I am making a copy out of all the data sets since it is proven to be working**

In [18]:
new_arc = archive.copy()
new_image = image_predictions.copy()
new_tweet = tweet_df.copy()

**(Quality) Issue 1**

**Define**

Remove retweets and leave only the original ratings of the dogs. This is done in order to make the priority for the data.

**Code**

In [19]:
new_arc = new_arc.drop(columns =['retweeted_status_id'])

**Test**

In [20]:
new_arc.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

**Issues 2**

**Define**

Since we removed the column in the previous code, it would also be beneficial if we continue to remove other columns that do not provide enough data.  

**Code**

In [21]:
new_arc = new_arc.drop(columns = ['in_reply_to_status_id',
                              'in_reply_to_user_id',
                              'retweeted_status_user_id',
                              'retweeted_status_timestamp',
                              'expanded_urls'])

**Test**

In [22]:
new_arc.head()

,tweet_id,timestamp,source,text,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,13,10,Phineas,None,None,None,None
1,892177421306343426,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,13,10,Tilly,None,None,None,None
2,891815181378084864,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,12,10,Archie,None,None,None,None
3,891689557279858688,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,13,10,Darla,None,None,None,None
4,891327558926688256,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,12,10,Franklin,None,None,None,None

**Issue 3**

**Define**

Remove the duplicated files in the 'image_predictions'.

**Code**

In [23]:
new_image = new_image.drop_duplicates(subset=['jpg_url'])

**Test**

In [24]:
print(new_image.jpg_url.duplicated().sum())

0

**Issue 4**

**Define**

Make timestamp into a datetime type.

**Code**

In [25]:
from datetime import datetime

new_arc['timestamp'] = pd.to_datetime(new_arc['timestamp'])

**Test**

In [26]:
new_arc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 11 columns):
tweet_id              2356 non-null int64
timestamp             2356 non-null datetime64[ns, UTC]
source                2356 non-null object
text                  2356 non-null object
rating_numerator      2356 non-null int64
rating_denominator    2356 non-null int64
name                  2356 non-null object
doggo                 2356 non-null object
floofer               2356 non-null object
pupper                2356 non-null object
puppo                 2356 non-null object
dtypes: datetime64[ns, UTC](1), int64(3), object(7)
memory usage: 202.6+ KB

**Issue 5**

**Define**

The source column has the letter 'herf' in front of every source. Better to remove it. 

**Code**

In [27]:
#See the full source row
new_arc['source'][0]

'<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>'

In [28]:
new_arc['source'] = new_arc['source'].str.replace('<a href="', '').str.replace('" rel=', '').str.replace('</a>', '').str.replace('>', '')
new_arc['source'] = new_arc['source'].str.split('"')

In [29]:
href = []
for i in new_arc['source']:     
    href.append(i[0])

In [30]:
new_arc['source'] = href

**Test**

In [31]:
new_arc['source'][0]

'http://twitter.com/download/iphone'

**Issue 6**

**Define**

Combine the dogs type into one column

**Code**

In [32]:
new_arc.iloc[40:49, 7:]

    doggo  floofer pupper puppo
40   None     None   None  None
41   None     None   None  None
42   None     None   None  None
43  doggo     None   None  None
44   None     None   None  None
45   None     None   None  None
46   None  floofer   None  None
47   None     None   None  None
48   None     None   None  None

In [33]:
new_arc['dog_stage'] = new_arc['doggo'] + new_arc['floofer'] + new_arc['pupper'] + new_arc['puppo']
new_arc['dog_stage'][:10]

0     NoneNoneNoneNone
1     NoneNoneNoneNone
2     NoneNoneNoneNone
3     NoneNoneNoneNone
4     NoneNoneNoneNone
5     NoneNoneNoneNone
6     NoneNoneNoneNone
7     NoneNoneNoneNone
8     NoneNoneNoneNone
9    doggoNoneNoneNone
Name: dog_stage, dtype: object

In [34]:
new_arc['dog_stage'].replace("NoneNoneNoneNone","None", inplace = True)
new_arc['dog_stage'].replace("doggoNoneNoneNone","doggo", inplace = True)
new_arc['dog_stage'].replace("NoneflooferNoneNone","floofer", inplace = True)
new_arc['dog_stage'].replace("NoneNonepupperNone","pupper", inplace = True)
new_arc['dog_stage'].replace("NoneNoneNonepuppo","puppo", inplace = True)

In [35]:
# Since we created a new column, we dont need the dog type columns beforehand. 
new_arc = new_arc.drop(['doggo','floofer','pupper','puppo'], axis = 1)

**Test**

In [36]:
new_arc.head()

,tweet_id,timestamp,source,text,rating_numerator,rating_denominator,name,dog_stage
0,892420643555336193,2017-08-01 16:23:56+00:00,http://twitter.com/download/iphone,This is Phineas. He's a mystical boy. Only eve...,13,10,Phineas,None
1,892177421306343426,2017-08-01 00:17:27+00:00,http://twitter.com/download/iphone,This is Tilly. She's just checking pup on you....,13,10,Tilly,None
2,891815181378084864,2017-07-31 00:18:03+00:00,http://twitter.com/download/iphone,This is Archie. He is a rare Norwegian Pouncin...,12,10,Archie,None
3,891689557279858688,2017-07-30 15:58:51+00:00,http://twitter.com/download/iphone,This is Darla. She commenced a snooze mid meal...,13,10,Darla,None
4,891327558926688256,2017-07-29 16:00:24+00:00,http://twitter.com/download/iphone,This is Franklin. He would like you to stop ca...,12,10,Franklin,None

**Issue 7**

**Define**

Remove '_' to make the data more attractive

**Code**

In [37]:
new_image['p1'] = new_image['p1'].str.replace('_', ' ')
new_image['p2'] = new_image['p2'].str.replace('_', ' ')
new_image['p3'] = new_image['p3'].str.replace('_', ' ')

**Test**

In [38]:
new_image.p1[:10]

0    Welsh springer spaniel
1                   redbone
2           German shepherd
3       Rhodesian ridgeback
4        miniature pinscher
5      Bernese mountain dog
6                box turtle
7                      chow
8             shopping cart
9          miniature poodle
Name: p1, dtype: object

In [39]:
new_image.p2[:10]

0                collie
1    miniature pinscher
2              malinois
3               redbone
4            Rottweiler
5      English springer
6            mud turtle
7       Tibetan mastiff
8       shopping basket
9              komondor
Name: p2, dtype: object

In [40]:
new_image.p3[:10]

0              Shetland sheepdog
1            Rhodesian ridgeback
2                     bloodhound
3             miniature pinscher
4                       Doberman
5     Greater Swiss Mountain dog
6                       terrapin
7                       fur coat
8               golden retriever
9    soft-coated wheaten terrier
Name: p3, dtype: object

**Issue 8**

**Define**

Some dog names are written as 'None', 'by', 'this', 'old', 'getting', 'not', 'a', 'such', etc. There could be way more name that are not written correctly. Therefore, it would be better to test the problem with 'lowercase' names to see what comes out. 

**Code**

In [41]:
for col in list(new_arc):
    print(col)
    print(new_arc[col].unique())
#Still to hard to say if we are missing anything

tweet_id
[892420643555336193 892177421306343426 891815181378084864 ...
 666033412701032449 666029285002620928 666020888022790149]
timestamp
<DatetimeArray>
['2017-08-01 16:23:56+00:00', '2017-08-01 00:17:27+00:00',
 '2017-07-31 00:18:03+00:00', '2017-07-30 15:58:51+00:00',
 '2017-07-29 16:00:24+00:00', '2017-07-29 00:08:17+00:00',
 '2017-07-28 16:27:12+00:00', '2017-07-28 00:22:40+00:00',
 '2017-07-27 16:25:51+00:00', '2017-07-26 15:59:51+00:00',
 ...
 '2015-11-16 01:01:59+00:00', '2015-11-16 00:55:59+00:00',
 '2015-11-16 00:49:46+00:00', '2015-11-16 00:35:11+00:00',
 '2015-11-16 00:30:50+00:00', '2015-11-16 00:24:50+00:00',
 '2015-11-16 00:04:52+00:00', '2015-11-15 23:21:54+00:00',
 '2015-11-15 23:05:30+00:00', '2015-11-15 22:32:08+00:00']
Length: 2356, dtype: datetime64[ns, UTC]
source
['http://twitter.com/download/iphone' 'http://twitter.com'
 'http://vine.co' 'https://about.twitter.com/products/tweetdeck']
text
["This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU"
 "This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV"
 'This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB'
 ...
 'Here is a very happy pup. Big fan of well-maintained decks. Just look at that tongue. 9/10 would cuddle af https://t.co/y671yMhoiR'
 'This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. 7/10 would walk the shit out of https://t.co/r7mOb2m0UI'
 'Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj']
rating_numerator
[  13   12   14    5   17   11   10  420  666    6   15  182  960    0
   75    7   84    9   24    8    1   27    3    4  165 1776  204   50
   99   80   45   60   44  143  121   20   26    2  144   88]
rating_denominator
[ 10   0  15  70   7  11 150 170  20  50  90  80  40 130 110  16 120   2]
name
['Phineas' 'Tilly' 'Archie' 'Darla' 'Franklin' 'None' 'Jax' 'Zoey'
 'Cassie' 'Koda' 'Bruno' 'Ted' 'Stuart' 'Oliver' 'Jim' 'Zeke' 'Ralphus'
 'Canela' 'Gerald' 'Jeffrey' 'such' 'Maya' 'Mingus' 'Derek' 'Roscoe'
 'Waffles' 'Jimbo' 'Maisey' 'Lilly' 'Earl' 'Lola' 'Kevin' 'Yogi' 'Noah'
 'Bella' 'Grizzwald' 'Rusty' 'Gus' 'Stanley' 'Alfy' 'Koko' 'Rey' 'Gary'
 'a' 'Elliot' 'Louis' 'Jesse' 'Romeo' 'Bailey' 'Duddles' 'Jack' 'Emmy'
 'Steven' 'Beau' 'Snoopy' 'Shadow' 'Terrance' 'Aja' 'Penny' 'Dante'
 'Nelly' 'Ginger' 'Benedict' 'Venti' 'Goose' 'Nugget' 'Cash' 'Coco' 'Jed'
 'Sebastian' 'Walter' 'Sierra' 'Monkey' 'Harry' 'Kody' 'Lassie' 'Rover'
 'Napolean' 'Dawn' 'Boomer' 'Cody' 'Rumble' 'Clifford' 'quite' 'Dewey'
 'Scout' 'Gizmo' 'Cooper' 'Harold' 'Shikha' 'Jamesy' 'Lili' 'Sammy'
 'Meatball' 'Paisley' 'Albus' 'Neptune' 'Quinn' 'Belle' 'Zooey' 'Dave'
 'Jersey' 'Hobbes' 'Burt' 'Lorenzo' 'Carl' 'Jordy' 'Milky' 'Trooper'
 'Winston' 'Sophie' 'Wyatt' 'Rosie' 'Thor' 'Oscar' 'Luna' 'Callie'
 'Cermet' 'George' 'Marlee' 'Arya' 'Einstein' 'Alice' 'Rumpole' 'Benny'
 'Aspen' 'Jarod' 'Wiggles' 'General' 'Sailor' 'Astrid' 'Iggy' 'Snoop'
 'Kyle' 'Leo' 'Riley' 'Gidget' 'Noosh' 'Odin' 'Jerry' 'Charlie' 'Georgie'
 'Rontu' 'Cannon' 'Furzey' 'Daisy' 'Tuck' 'Barney' 'Vixen' 'Jarvis'
 'Mimosa' 'Pickles' 'Bungalo' 'Brady' 'Margo' 'Sadie' 'Hank' 'Tycho'
 'Stephan' 'Indie' 'Winnie' 'Bentley' 'Ken' 'Max' 'Maddie' 'Pipsy' 'Monty'
 'Sojourner' 'Odie' 'Arlo' 'Sunny' 'Vincent' 'Lucy' 'Clark' 'Mookie'
 'Meera' 'Buddy' 'Ava' 'Rory' 'Eli' 'Ash' 'Tucker' 'Tobi' 'Chester'
 'Wilson' 'Sunshine' 'Lipton' 'Gabby' 'Bronte' 'Poppy' 'Rhino' 'Willow'
 'not' 'Orion' 'Eevee' 'Smiley' 'Logan' 'Moreton' 'Klein' 'Miguel'
 'Emanuel' 'Kuyu' 'Dutch' 'Pete' 'Scooter' 'Reggie' 'Kyro' 'Samson' 'Loki'
 'Mia' 'Malcolm' 'Dexter' 'Alfie' 'Fiona' 'one' 'Mutt' 'Bear' 'Doobert'
 'Beebop' 'Alexander' 'Sailer' 'Brutus' 'Kona' 'Boots' 'Ralphie' 'Phil'
 'Cupid' 'Pawnd' 'Pilot' 'Ike' 'Mo' 'Toby' 'Sweet' 'Pablo' 'Nala' 'Balto'
 'Crawford' 'Gabe' 'Mattie' 'Jimison' 'Hercules' 'Duchess' 'Harlso'
 'Sampson' 'Sundance' 'Luca' 'Flash' 'Finn' 'Peaches' 'Howie' 'Jazzy'
 'Anna' 'Bo' 'Seamus' 'Wafer' 'Chelsea' 'Tom' 'Moose' 'Florence' 'Autumn'
 'Dido' 'Eugene' 'Herschel' 'Strudel' 'Tebow' 'Chloe' 'Betty' 'Timber'
 'Binky' 'Dudley' 'Comet' 'Larry' 'Levi' 'Akumi' 'Titan' 'Olivia' 'Alf'
 'Oshie' 'Bruce' 'Chubbs' 'Sky' 'Atlas' 'Eleanor' 'Layla' 'Rocky' 'Baron'
 'Tyr' 'Bauer' 'Swagger' 'Brandi' 'Mary' 'Moe' 'Halo' 'Augie' 'Craig'
 'Sam' 'Hunter' 'Pavlov' 'Maximus' 'Wallace' 'Ito' 'Milo' 'Ollie' 'Cali'
 'Lennon' 'incredibly' 'Major' 'Duke' 'Reginald' 'Sansa' 'Shooter'
 'Django' 'Diogi' 'Sonny' 'Philbert' 'Marley' 'Severus' 'Ronnie' 'Anakin'
 'Bones' 'Mauve' 'Chef' 'Doc' 'Sobe' 'Longfellow' 'Mister' 'Iroh' 'Baloo'
 'Stubert' 'Paull' 'Timison' 'Davey' 'Pancake' 'Tyrone' 'Snicku' 'Ruby'
 'Brody' 'Rizzy' 'Mack' 'Butter' 'Nimbus' 'Laika' 'Dobby' 'Juno' 'Maude'
 'Lily' 'Newt' 'Benji' 'Nida' 'Robin' 'Monster' 'BeBe' 'Remus' 'Mabel'
 'Misty' 'Happy' 'Mosby' 'Maggie' 'Leela' 'Ralphy' 'Brownie' 'Meyer'
 'Stella' 'mad' 'Frank' 'Tonks' 'Lincoln' 'Oakley' 'Dale' 'Rizzo' 'Arnie'
 'Pinot' 'Dallas' 'Hero' 'Frankie' 'Stormy' 'Mairi' 'Loomis' 'Godi'
 'Kenny' 'Deacon' 'Timmy' 'Harper' 'Chipson' 'Combo' 'Dash' 'Bell'
 'Hurley' 'Jay' 'Mya' 'Strider' 'an' 'Wesley' 'Solomon' 'Huck' 'very' 'O'
 'Blue' 'Finley' 'Sprinkles' 'Heinrich' 'Shakespeare' 'Fizz' 'Chip' 'Grey'
 'Roosevelt' 'Gromit' 'Willem' 'Dakota' 'Dixie' 'Al' 'Jackson' 'just'
 'Carbon' 'DonDon' 'Kirby' 'Lou' 'Nollie' 'Chevy' 'Tito' 'Louie' 'Rupert'
 'Rufus' 'Brudge' 'Shadoe' 'Colby' 'Angel' 'Brat' 'Tove' 'my' 'Aubie'
 'Kota' 'Eve' 'Glenn' 'Shelby' 'Sephie' 'Bonaparte' 'Albert' 'Wishes'
 'Rose' 'Theo' 'Rocco' 'Fido' 'Emma' 'Spencer' 'Lilli' 'Boston'
 'Brandonald' 'Corey' 'Leonard' 'Chompsky' 'Beckham' 'DevÃ³n' 'Gert'
 'Watson' 'Rubio' 'Keith' 'Dex' 'Carly' 'Ace' 'Tayzie' 'Grizzie' 'Fred'
 'Gilbert' 'Zoe' 'Stewie' 'Calvin' 'Lilah' 'Spanky' 'Jameson' 'Piper'
 'Atticus' 'Blu' 'Dietrich' 'Divine' 'Tripp' 'his' 'Cora' 'Huxley'
 'Keurig' 'Bookstore' 'Linus' 'Abby' 'Shaggy' 'Shiloh' 'Gustav' 'Arlen'
 'Percy' 'Lenox' 'Sugar' 'Harvey' 'Blanket' 'actually' 'Geno' 'Stark'
 'Beya' 'Kilo' 'Kayla' 'Maxaroni' 'Doug' 'Edmund' 'Aqua' 'Theodore'
 'Chase' 'getting' 'Rorie' 'Simba' 'Charles' 'Bayley' 'Axel' 'Storkson'
 'Remy' 'Chadrick' 'Kellogg' 'Buckley' 'Livvie' 'Terry' 'Hermione'
 'Ralpher' 'Aldrick' 'this' 'unacceptable' 'Rooney' 'Crystal' 'Ziva'
 'Stefan' 'Pupcasso' 'Puff' 'Flurpson' 'Coleman' 'Enchilada' 'Raymond'
 'all' 'Rueben' 'Cilantro' 'Karll' 'Sprout' 'Blitz' 'Bloop' 'Lillie'
 'Ashleigh' 'Kreggory' 'Sarge' 'Luther' 'Ivar' 'Jangle' 'Schnitzel'
 'Panda' 'Berkeley' 'RalphÃ©' 'Charleson' 'Clyde' 'Harnold' 'Sid' 'Pippa'
 'Otis' 'Carper' 'Bowie' 'Alexanderson' 'Suki' 'Barclay' 'Skittle' 'Ebby'
 'FlÃ¡vio' 'Smokey' 'Link' 'Jennifur' 'Ozzy' 'Bluebert' 'Stephanus'
 'Bubbles' 'old' 'Zeus' 'Bertson' 'Nico' 'Michelangelope' 'Siba' 'Calbert'
 'Curtis' 'Travis' 'Thumas' 'Kanu' 'Lance' 'Opie' 'Kane' 'Olive'
 'Chuckles' 'Staniel' 'Sora' 'Beemo' 'Gunner' 'infuriating' 'Lacy' 'Tater'
 'Olaf' 'Cecil' 'Vince' 'Karma' 'Billy' 'Walker' 'Rodney' 'Klevin'
 'Malikai' 'Bobble' 'River' 'Jebberson' 'Remington' 'Farfle' 'Jiminus'
 'Clarkus' 'Finnegus' 'Cupcake' 'Kathmandu' 'Ellie' 'Katie' 'Kara' 'Adele'
 'Zara' 'Ambrose' 'Jimothy' 'Bode' 'Terrenth' 'Reese' 'Chesterson' 'Lucia'
 'Bisquick' 'Ralphson' 'Socks' 'Rambo' 'Rudy' 'Fiji' 'Rilo' 'Bilbo'
 'Coopson' 'Yoda' 'Millie' 'Chet' 'Crouton' 'Daniel' 'Kaia' 'Murphy'
 'Dotsy' 'Eazy' 'Coops' 'Fillup' 'Miley' 'Charl' 'Reagan' 'Yukon' 'CeCe'
 'Cuddles' 'Claude' 'Jessiga' 'Carter' 'Ole' 'Pherb' 'Blipson' 'Reptar'
 'Trevith' 'Berb' 'Bob' 'Colin' 'Brian' 'OliviÃ©r' 'Grady' 'Kobe'
 'Freddery' 'Bodie' 'Dunkin' 'Wally' 'Tupawc' 'Amber' 'Edgar' 'Teddy'
 'Kingsley' 'Brockly' 'Richie' 'Molly' 'Vinscent' 'Cedrick' 'Hazel' 'Lolo'
 'Eriq' 'Phred' 'the' 'Oddie' 'Maxwell' 'Geoff' 'Covach' 'Durg' 'Fynn'
 'Ricky' 'Herald' 'Lucky' 'Ferg' 'Trip' 'Clarence' 'Hamrick' 'Brad'
 'Pubert' 'FrÃ¶nq' 'Derby' 'Lizzie' 'Ember' 'Blakely' 'Opal' 'Marq'
 'Kramer' 'Barry' 'Gordon' 'Baxter' 'Mona' 'Horace' 'Crimson' 'Birf'
 'Hammond' 'Lorelei' 'Marty' 'Brooks' 'Petrick' 'Hubertson' 'Gerbald'
 'Oreo' 'Bruiser' 'Perry' 'Bobby' 'Jeph' 'Obi' 'Tino' 'Kulet' 'Sweets'
 'Lupe' 'Tiger' 'Jiminy' 'Griffin' 'Banjo' 'Brandy' 'Lulu' 'Darrel' 'Taco'
 'Joey' 'Patrick' 'Kreg' 'Todo' 'Tess' 'Ulysses' 'Toffee' 'Apollo' 'Asher'
 'Glacier' 'Chuck' 'Champ' 'Ozzie' 'Griswold' 'Cheesy' 'Moofasa' 'Hector'
 'Goliath' 'Kawhi' 'by' 'Emmie' 'Penelope' 'Willie' 'Rinna' 'Mike'
 'William' 'Dwight' 'Evy' 'officially' 'Rascal' 'Linda' 'Tug' 'Tango'
 'Grizz' 'Jerome' 'Crumpet' 'Jessifer' 'Izzy' 'Ralph' 'Sandy' 'Humphrey'
 'Tassy' 'Juckson' 'Chuq' 'Tyrus' 'Karl' 'Godzilla' 'Vinnie' 'Kenneth'
 'Herm' 'Bert' 'Striker' 'Donny' 'Pepper' 'Bernie' 'Buddah' 'Lenny'
 'Arnold' 'Zuzu' 'Mollie' 'Laela' 'Tedders' 'Superpup' 'Rufio' 'Jeb'
 'Rodman' 'Jonah' 'Chesney' 'life' 'Henry' 'Bobbay' 'Mitch' 'Kaiya' 'Acro'
 'Aiden' 'Obie' 'Dot' 'Shnuggles' 'Kendall' 'Jeffri' 'Steve' 'Mac'
 'Fletcher' 'Kenzie' 'Pumpkin' 'Schnozz' 'Gustaf' 'Cheryl' 'Ed' 'Leonidas'
 'Norman' 'Caryl' 'Scott' 'Taz' 'Darby' 'Jackie' 'light' 'Jazz' 'Franq'
 'Pippin' 'Rolf' 'Snickers' 'Ridley' 'Cal' 'Bradley' 'Bubba' 'Tuco'
 'Patch' 'Mojo' 'Batdog' 'Dylan' 'space' 'Mark' 'JD' 'Alejandro'
 'Scruffers' 'Pip' 'Julius' 'Tanner' 'Sparky' 'Anthony' 'Holly' 'Jett'
 'Amy' 'Sage' 'Andy' 'Mason' 'Trigger' 'Antony' 'Creg' 'Traviss' 'Gin'
 'Jeffrie' 'Danny' 'Ester' 'Pluto' 'Bloo' 'Edd' 'Willy' 'Herb' 'Damon'
 'Peanut' 'Nigel' 'Butters' 'Sandra' 'Fabio' 'Randall' 'Liam' 'Tommy'
 'Ben' 'Raphael' 'Julio' 'Andru' 'Kloey' 'Shawwn' 'Skye' 'Kollin' 'Ronduh'
 'Billl' 'Saydee' 'Dug' 'Tessa' 'Sully' 'Kirk' 'Ralf' 'Clarq' 'Jaspers'
 'Samsom' 'Harrison' 'Chaz' 'Jeremy' 'Jaycob' 'Lambeau' 'Ruffles' 'AmÃ©lie'
 'Bobb' 'Banditt' 'Kevon' 'Winifred' 'Hanz' 'Churlie' 'Zeek' 'Timofy'
 'Maks' 'Jomathan' 'Kallie' 'Marvin' 'Spark' 'GÃ²rdÃ³n' 'Jo' 'DayZ' 'Jareld'
 'Torque' 'Ron' 'Skittles' 'Cleopatricia' 'Erik' 'Stu' 'Tedrick' 'Filup'
 'Kial' 'Naphaniel' 'Dook' 'Hall' 'Philippe' 'Biden' 'Fwed' 'Genevieve'
 'Joshwa' 'Bradlay' 'Clybe' 'Keet' 'Carll' 'Jockson' 'Josep' 'Lugan'
 'Christoper']
dog_stage
['None' 'doggo' 'puppo' 'pupper' 'floofer' 'doggoNoneNonepuppo'
 'doggoflooferNoneNone' 'doggoNonepupperNone']

In [42]:
bad_names = []
for name in new_arc['name']:
    if name.islower():
        bad_names.append(name)
        
#So what was the actual list of all the incorrect dog names? 
print(bad_names)

['such', 'a', 'quite', 'quite', 'quite', 'not', 'one', 'incredibly', 'a', 'mad', 'an', 'very', 'a', 'very', 'just', 'my', 'one', 'not', 'his', 'one', 'a', 'a', 'a', 'an', 'very', 'actually', 'a', 'just', 'getting', 'mad', 'very', 'this', 'unacceptable', 'all', 'a', 'old', 'a', 'infuriating', 'a', 'a', 'a', 'an', 'a', 'a', 'very', 'getting', 'just', 'a', 'the', 'the', 'actually', 'by', 'a', 'officially', 'a', 'the', 'the', 'a', 'a', 'a', 'a', 'life', 'a', 'one', 'a', 'a', 'a', 'light', 'just', 'space', 'a', 'the', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'an', 'a', 'the', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'quite', 'a', 'an', 'a', 'an', 'the', 'the', 'a', 'a', 'an', 'a', 'a', 'a', 'a']

In [43]:
for name in new_arc['name']:
    if name in bad_names:
        new_arc['name'].replace(name, 'None', inplace=True)

**Test**

In [44]:
for name in new_arc['name']:
    if name.islower():
        print(name)

**(Tidiness) Issue 8**

**Define**

The tweet_id doesnt match along the three data sets (in type, since some of them are object and some are integer). In order to do proper comparisos, the data sets should have the same type of ids. 

**Code**

In [45]:
new_arc['tweet_id'] = new_arc['tweet_id'].astype(str)
new_image['tweet_id'] = new_image['tweet_id'].astype(str)

I have also noticed that the column of tweet_id does not have the same name in 'new_tweet' as that column is named just id. Need to change that to tweet_id.

In [54]:
new_tweet.rename(columns = {'id':'tweet_id'}, inplace = True)

**Test**

In [55]:
new_arc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 8 columns):
tweet_id              2356 non-null object
timestamp             2356 non-null datetime64[ns, UTC]
source                2356 non-null object
text                  2356 non-null object
rating_numerator      2356 non-null int64
rating_denominator    2356 non-null int64
name                  2356 non-null object
dog_stage             2356 non-null object
dtypes: datetime64[ns, UTC](1), int64(2), object(5)
memory usage: 147.4+ KB

In [56]:
new_image.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2009 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2009 non-null object
jpg_url     2009 non-null object
img_num     2009 non-null int64
p1          2009 non-null object
p1_conf     2009 non-null float64
p1_dog      2009 non-null bool
p2          2009 non-null object
p2_conf     2009 non-null float64
p2_dog      2009 non-null bool
p3          2009 non-null object
p3_conf     2009 non-null float64
p3_dog      2009 non-null bool
dtypes: bool(3), float64(3), int64(1), object(5)
memory usage: 162.8+ KB

In [57]:
new_tweet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 5 columns):
tweet_id            2354 non-null object
favorites           2354 non-null int64
retweets            2354 non-null int64
followers           2354 non-null int64
retweeted_status    2354 non-null object
dtypes: int64(3), object(2)
memory usage: 92.1+ KB

**Issue 10**

**Define**

Now, it is better to combine all the modified data sets to get a better and more efficient perspective.

**Code**

In [58]:
total_data1= pd.merge(new_arc, new_image, how= 'left', on = ['tweet_id'])
total_data = pd.merge(total_data1, new_tweet, how ='left', on = ['tweet_id'])

**Test**

In [59]:
total_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 0 to 2355
Data columns (total 23 columns):
tweet_id              2356 non-null object
timestamp             2356 non-null datetime64[ns, UTC]
source                2356 non-null object
text                  2356 non-null object
rating_numerator      2356 non-null int64
rating_denominator    2356 non-null int64
name                  2356 non-null object
dog_stage             2356 non-null object
jpg_url               2009 non-null object
img_num               2009 non-null float64
p1                    2009 non-null object
p1_conf               2009 non-null float64
p1_dog                2009 non-null object
p2                    2009 non-null object
p2_conf               2009 non-null float64
p2_dog                2009 non-null object
p3                    2009 non-null object
p3_conf               2009 non-null float64
p3_dog                2009 non-null object
favorites             2354 non-null float64
retweets              2354 non-null float64
followers             2354 non-null float64
retweeted_status      2354 non-null object
dtypes: datetime64[ns, UTC](1), float64(7), int64(2), object(13)
memory usage: 441.8+ KB

**Issue 11**

Now that the data sets have been combined, we need to further polish it to make it all clean and equal. Luckily, the only cleaning is dropping the columns that do not match with the rest of the data (image_num - p3_dog). I keep the jpg_url for the picture as they might be usefull.

In [61]:
total_data = total_data.drop(['img_num', 'p1', 'p1_conf', 'p1_dog', 'p2', 'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog'], axis =1)

In [62]:
total_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 0 to 2355
Data columns (total 13 columns):
tweet_id              2356 non-null object
timestamp             2356 non-null datetime64[ns, UTC]
source                2356 non-null object
text                  2356 non-null object
rating_numerator      2356 non-null int64
rating_denominator    2356 non-null int64
name                  2356 non-null object
dog_stage             2356 non-null object
jpg_url               2009 non-null object
favorites             2354 non-null float64
retweets              2354 non-null float64
followers             2354 non-null float64
retweeted_status      2354 non-null object
dtypes: datetime64[ns, UTC](1), float64(3), int64(2), object(7)
memory usage: 337.7+ KB

In [63]:
total_data.head(10)

,tweet_id,timestamp,source,text,rating_numerator,rating_denominator,name,dog_stage,jpg_url,favorites,retweets,followers,retweeted_status
0,892420643555336193,2017-08-01 16:23:56+00:00,http://twitter.com/download/iphone,This is Phineas. He's a mystical boy. Only eve...,13,10,Phineas,None,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,39467.0,8853.0,3200889.0,Original tweet
1,892177421306343426,2017-08-01 00:17:27+00:00,http://twitter.com/download/iphone,This is Tilly. She's just checking pup on you....,13,10,Tilly,None,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,33819.0,6514.0,3200889.0,Original tweet
2,891815181378084864,2017-07-31 00:18:03+00:00,http://twitter.com/download/iphone,This is Archie. He is a rare Norwegian Pouncin...,12,10,Archie,None,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,25461.0,4328.0,3200889.0,Original tweet
3,891689557279858688,2017-07-30 15:58:51+00:00,http://twitter.com/download/iphone,This is Darla. She commenced a snooze mid meal...,13,10,Darla,None,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,42908.0,8964.0,3200889.0,Original tweet
4,891327558926688256,2017-07-29 16:00:24+00:00,http://twitter.com/download/iphone,This is Franklin. He would like you to stop ca...,12,10,Franklin,None,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,41048.0,9774.0,3200889.0,Original tweet
5,891087950875897856,2017-07-29 00:08:17+00:00,http://twitter.com/download/iphone,Here we have a majestic great white breaching ...,13,10,None,None,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,20562.0,3261.0,3200889.0,Original tweet
6,890971913173991426,2017-07-28 16:27:12+00:00,http://twitter.com/download/iphone,Meet Jax. He enjoys ice cream so much he gets ...,13,10,Jax,None,https://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg,12041.0,2158.0,3200889.0,Original tweet
7,890729181411237888,2017-07-28 00:22:40+00:00,http://twitter.com/download/iphone,When you watch your owner call another dog a g...,13,10,None,None,https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg,56848.0,16716.0,3200889.0,Original tweet
8,890609185150312448,2017-07-27 16:25:51+00:00,http://twitter.com/download/iphone,This is Zoey. She doesn't want to be one of th...,13,10,Zoey,None,https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,28226.0,4429.0,3200889.0,Original tweet
9,890240255349198849,2017-07-26 15:59:51+00:00,http://twitter.com/download/iphone,This is Cassie. She is a college pup. Studying...,14,10,Cassie,doggo,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,32467.0,7711.0,3200889.0,Original tweet

In [65]:
#Extracting the polished data into a file. 

total_data.to_csv('polished_twitter_data.csv')